<%- include("../partials/header") %>

<h2><%= exam.title %></h2>

<form method="POST" action="/student/submit/<%= exam._id %>">

<% if (exam.questions && exam.questions.length > 0) { %>

<% exam.questions.forEach((q, i) => { %>

<div>
<p><%= i+1 %>. <%= q.question %></p>

<% q.options.forEach(opt => { %>
<label>
<input type="radio" name="answers[<%= i %>]" value="<%= opt %>" required>
<%= opt %>
</label><br>
<% }) %>

</div>
<hr>

<% }) %>

<% } else { %>
<p>No questions added yet.</p>
<% } %>

<button type="submit">Submit Exam</button>

</form>

<%- include("../partials/footer") %>
